@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    font-family: 'Lora',sans-serif;
}

h2{
    text-align: center;
}

a {
    color: beige !important;
    text-decoration:none;
  }
.container{
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    width:60em;
}

.header{
    text-align: center;
    margin: 5px;
}

.main{
    position: relative;
    margin: 0 auto;
}

.block-left{
/* margin-left: auto;
margin-right: 0; */
/* margin: 0px; */
width: 20em;
min-height: 100%;
background-color: #1e3d59;
color:beige;
padding-bottom: 30px;
}

/* ! PHOTO */

.photo{ 
    padding-top: 30px;
    background-color: #ffc13b; 
    color:#3a3a3a;
}
.avatar{
    text-align: center;
    
}
.name{
    padding-bottom: 20px;
}

.block-right{
/* float: right; */
position: absolute;
  top: 0;
  right: 0;
width: 40em;
min-height: 100%;
background-color: #f5f0e1;
/* background-color: #ffc13b; */
text-align: justify;


}


/* ! CONTACTS */
/* .conts{
    display: flex;
} */
.citem{
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
}

.citem img{
    padding-right: 10px;
    
    margin-right: 10px;
}


/*! SKILLS */

.parrent{
    width: 150px;
    height: 10px;
    background: beige;
    margin: 5px;
}
.child{
    height: 100%;
    background: #ffc13b;
    border-bottom-right-radius: 10px;
}
.html{
    width: 70%;
}
.css{
    width: 55%;
}
.js{
     width:40%;
} 
    
 /*! FOOTER */
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #ff6e40;
    color: rgb(255, 255, 255);
}
.fitem{
    padding: 15px;
    text-align: center;
}
.fitem span{
    font-size: 1.3em;
    margin-top: 20px;
}
.year{
    font-size: 2em;
}
.logo {
    width:100px;
}